.product-section {
    padding: 40px 20px;
    background-color: #e4d9cd;
}

/* Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Desktop */
  gap: 25px;
}

/* Card */
.product-card {
    border-radius: 14px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
}

/* Image */
.product-image {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    height: 100%;
    object-fit: contain;
}

/* Info */
.product-info {
    padding: 16px;
    text-align: center;
    background-color: var(--body-color);
}

.product-info h3 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: var(--nav-item);
    margin-bottom: 10px;
}

/* Price */
.price {
    font-size: 16px;
    font-weight: 600;
    color: var(--logo-color);
}

.original-price {
    margin-left: 8px;
    font-size: 13px;
    color: #9ca3af;
    text-decoration: line-through;
}

/* Tablet */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-image {
        height: 200px;
    }
}